server:
  port: "8080"

database:
  host: "localhost"
  port: "5432"
  user: "postgres"
  password: "password"
  dbname: "url_shortener"
  sslmode: "disable"

shortener:
  base_url: "http://localhost:8080/"
  code_length: 6
